- if current_page.data.learn_cards
  .cmp-learn-more-cards.container.slp-container
    .row.text-center#learn-more
      .u-padding-top-md.u-padding-bottom-md
        = partial "/images/pricing/particles-contact.svg"
        .font-size-2xl.u-margin-bottom-sm
          #{current_page.data.learn_cards_title}
        .row.learn-cards
          - current_page.data.learn_cards.each do |learn_card|
            .col-md-4
              .learn-card
                = partial "/images/icons/localization-whitepaper.svg"
                %p.font-size-xl #{learn_card.title}
                %a.btn.cta-btn.lavender{href: learn_card.url} #{learn_card.btn_copy}
